<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/site.css" asp-append-version="true" />

<div id="app">
    <form @submit.prevent="submitForm">
        <div class="row">
            <div class="form-group mb-3 col">
                <label for="gpt-name">GPT Name:</label>
                <input type="text" class="form-control" id="gpt-name" placeholder="Enter GPT Name" v-model="gptName" required>
            </div>
            <div class="form-group mb-3 col">
                <label for="gpt-family">GPT Family:</label>
                <input type="text" class="form-control" id="gpt-family" placeholder="Enter GPT Family" v-model="gptFamily" required>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="token">Personal token:</label>
            <input type="email" class="form-control" id="token" placeholder="Enter Personal Token" v-model="personalToken" required>
        </div>
        <div class="row">
            <div class="form-group mb-3 col">
                <label for="pwd">Your private key:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter Private Key" v-model="privateKey" required>
            </div>
            <div class="form-group mb-3 col">
                <label for="repeat-pwd">Repeat private key:</label>
                <input type="password" class="form-control" id="repeat-pwd" placeholder="Enter Private Key again" v-model="repeatPrivateKey" required>
            </div>
        </div>
        <div class="form-group form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" v-model="rememberMe">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
    </form>
</div>

<script src="../js/signUp.js"></script>
