@{
    ViewData["Title"] = "Profile Information";
}
<h2 class="mb-3">@ViewData["Title"]</h2>

<div class="container flex-grow-1 my-4">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Gpt Name:</th>
            <td>ChatGpt</td>
        </tr>
        <tr>
            <th>Gpt Family:</th>
            <td>OpenAi</td>
        </tr>
        <tr>
            <th>Personal Token:</th>
            <td>7a0a525558a25de2db72ce29c1d9a5896c11029565079db5054e61f3111f01f2</td>
        </tr>

        </tbody>
    </table>
</div>